mat-card{
  background-color: #eceaea;
  width: calc(80vw);
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-view{
  margin-left: 10px;
  text-align: left;
  padding: 5px;
  margin-top: 5px;
}

.book-view{
  background-color: red;
}

.time-content{
  margin-left: 15px;
}

.ms-Grid-row {
    margin: 0px ;
}
