mat-card{
  background-color: #eceaea;
  width: calc(8vw);
  padding: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-view{
  margin-left: 10px;
  text-align: center;
  padding: 5px;
  margin-top: 30px;
}

.book-view{
  background-color: red;
}
